<ion-content>
    <ion-slides pager="true" [options]="slideOpt">
        <ion-slide *ngFor="let slide of slides">
            <ion-icon name="close"></ion-icon>
            <h1>{{slide.title}}</h1>
            <h2>{{slide.subtitle}}</h2>
            <img src={{slide.img}} alt={{slide.title}} height={10px}  />
            <P>{{slide.text}}</P>
        </ion-slide>
    </ion-slides>
</ion-content>