
ion-slides {
    background-color: var(--ion-color-secondary);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

ion-slide{
    padding: 20px;
}


.swiper-slide {
    display: block;
    background-color: #333333;
}

ion-slide>h1,
h2 {
    color: var( --ion-color-primary-contrast);
}

ion-slide>p {
    font-family: 'Roboto';
    font-size: 15px;
    border-radius:10px;
    border: 1px solid var(--ion-color-secondary);
    padding: 5px 10px 5px 10px;
}

ion-slide>img {
    height: 300px;
    width: 200px;
}